# Dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build e arquivos gerados
.dist/
build/
.next/
out/
.cache/

# Configurações do editor e do sistema
.DS_Store
.idea/
.vscode/
*.swp

# Ambiente e credenciais
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs e relatórios
debug.log
*.log

# Tailwind e arquivos temporários
postcss.config.js
tailwind.config.js

# Outros
coverage/
public/*.cache